@font-face {
    font-family: Bebas;
    src: url(../assets/font/BebasNeue-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bebas;
}

.logo {
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

.colored-toast.swal2-icon-success {
    background-color: #3fc3ee !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}

.divCantidad{
    margin-top: 2px;
    border: 1px solid #dbd9d9;
    border-radius:15px;    
    display: inline-flex;
}

.smallCantidad{
    padding: 3px 6px;
}

.spanMenos, .spanMas{
    /*margin: 5px;*/
    padding: 2px 6px;
}

.spanMenos:hover{
    cursor: pointer;
}

.spanMas:hover{
    cursor: pointer;
}

.trashIcon{
    margin-left: 8px;
    width: 20px;
    height: 20px;
}

.trashIcon:hover{
    cursor: pointer;
}

#pagoFinal{
    border-top: 1px solid #3fc3ee;
    border-bottom: 1px solid #3fc3ee;
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

#avatar{
    width: 50px;
    height: 50px;
}

#carrito{
    margin-right: 20px;
    cursor: pointer;
    width: 44px; 
    height: 44px;
    padding: 4px;

}

#carrito:hover{
    border: 1px solid #dbd9d9;
    padding: 3px;

}

#agregadoCarrito{
    position: relative;
    right: 53px;
    bottom: 21px;
    visibility: hidden;
}